<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578129256106-5d9vmlk14khnd0c93gmukh6n7t5l41nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578129256106-5d9vmlk14khnd0c93gmukh6n7t5l41nk</string>
	<key>API_KEY</key>
	<string>AIzaSyBnKXu4M1vbvvEWdRkzaMgNk6KCQjzGVp4</string>
	<key>GCM_SENDER_ID</key>
	<string>578129256106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hardibsalih.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-e84fb</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-e84fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578129256106:ios:f8d905a41b4fa5af963ad3</string>
</dict>
</plist>